@font-face {
  font-family: 'Helvetica Neue';
  src: url('~src/fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
       url('~src/fonts/helveticaneuecyr-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('~src/fonts/helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
       url('~src/fonts/helveticaneuecyr-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('~src/fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
       url('~src/fonts/helveticaneuecyr-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

